{% extends 'base.html.twig' %}

{% block title %}Youtube{% endblock %}

{% block body %}
    <main role="main" class="col mt-3 ml-1">
        <div class="row mt-5 videos-card">
            <div class="col-3">
                <a href="#">
                    <div class="card">
                        <img src="images/vignette.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <img class ="card-img-user-account mr-2" src="images/image-account-user.jpg">
                            <h6 class="card-title ml-2">Geremy Credeville - Le covoiturage</h6>
                            <p class="card-text text-muted ml-5 username">Amixem</p>
                            <p class="card-text text-muted ml-5 count-views-date">250k vues • Il y a une semaine </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#">
                    <div class="card">
                        <img src="images/vignette.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <img class ="card-img-user-account mr-2" src="images/image-account-user.jpg">
                            <h6 class="card-title ml-2">Geremy Credeville - Le covoiturage</h6>
                            <p class="card-text text-muted ml-5 username">Amixem</p>
                            <p class="card-text text-muted ml-5 count-views-date">250k vues • Il y a une semaine </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#">
                    <div class="card">
                        <img src="images/vignette.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <img class ="card-img-user-account mr-2" src="images/image-account-user.jpg">
                            <h6 class="card-title ml-2">Geremy Credeville - Le covoiturage</h6>
                            <p class="card-text text-muted ml-5 username">Amixem</p>
                            <p class="card-text text-muted ml-5 count-views-date">250k vues • Il y a une semaine </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#">
                    <div class="card">
                        <img src="images/vignette.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <img class ="card-img-user-account mr-2" src="images/image-account-user.jpg">
                            <h6 class="card-title ml-2">Geremy Credeville - Le covoiturage</h6>
                            <p class="card-text text-muted ml-5 username">Amixem</p>
                            <p class="card-text text-muted ml-5 count-views-date">250k vues • Il y a une semaine </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
{% endblock %}
